



/* .navbar_child:hover>.subnav{
    display: block;
} */
/*body*/
.container .why_metaverse .why_metaverse_content .why_metaverse-link{
    border: none;
    color: #09b1ed;
    font-size: 21px;
    text-transform: none;
    display: inline;
    margin: 0;
    padding: 0;
}
.container .why_metaverse .why_metaverse_content .why_metaverse-link:hover{
    background-color: unset;
    color: #fff;
}
.why_metaverse_block{
    border: 1px solid #c7c7c7;
    padding: calc(1245px * 0.05);
    box-shadow: 1px 3px 3px #c7c7c7;
    
}

.btn-container{
    width: 100%;
}

@media (max-width: 1000px) {
    .marterial-open{
        height:791px;
    }
    .header{
        height: unset;
        padding: 12px 0;
        display: flex;
        align-items: center;
    }
    .header a{
        display: block;
    }
    .header a img{
        height: 24px;
        display: block;
    }
    .navbar{
        display: none;
    }
    .why_metaverse_block {
       
        margin-bottom: 20px;
        padding: 70px 40px!important;
    }
}